[submodule "subprojects/glaze"]
	path = subprojects/glaze
	url = https://github.com/stephenberry/glaze
[submodule "submodules/libvpk-plusplus"]
	path = submodules/libvpk-plusplus
	url = https://github.com/Joshua-Ashton/libvpk-plusplus
[submodule "submodules/libvtf-plusplus"]
	path = submodules/libvtf-plusplus
	url = https://github.com/Joshua-Ashton/libvtf-plusplus
[submodule "submodules/OffsetAllocator"]
	path = submodules/OffsetAllocator
	url = https://github.com/sebbbi/OffsetAllocator
